<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Ruhan Bello</h1>
                <h3>Hey, I'm a game programmer from Brazil, co-founder and C.T.O of Submersivo Game Studio. The main tool I use for developing games is the Unity3D game engine.</h3>			
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/Ruhan.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->